doctype html
html
  head
    meta(charset="utf-8")
    meta(name="author", content="Samudra Harapan Bekti")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Real-Time Geolocation with Web Sockets
    link(rel="stylesheet", href="./css/styles.css")
  body
    #map-canvas To get this app to work you need to share your geolocation.
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
    script(src="/socket.io/socket.io.js")
    script(src="./js/application.js")
