html, body {
    height: 100%;
    width: 100%;
}
.marker-title {
    font-weight: bold;
    font-size: 18px;
}
.message-sender {
    font-weight: bold;
}
.user-nodes {
    margin-top: 10px;
}
.user-node {
    margin-right: 5px;
    margin-top: 5px;
}
.btn-custom-controls {
    margin-left: 5px;
}
.message-container {
    max-height: 200px;
    overflow: auto;
}
#alert {
    display: none;
    position: absolute;
    z-index: 101;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
}
.noti-bubble {
    position: absolute;
    top: -6px;
    right: 95px;
    padding: 1px 2px 1px 2px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 0.6em;
    border-radius: 30px;
    box-shadow: 1px 1px 1px gray;
}
